body {
    margin: 0;
    padding: 0;
    font-family: "Nunito Sans";
  }
  @font-face {
    font-family: "Nunito Sans";
    src: local("Nunito Sans"),
      url("../assets/Nunito_Sans/static/NunitoSans_10pt_Condensed-Medium.ttf")
        format("truetype");
    font-weight: 300;
  }
.image1 {
    width: 330px;
    height: 289px;
    padding: 10px;
}
.box-shadow {
    width: 350px;
    height: 450px;
    display: flex;
    justify-content: center;
}
.h4 {
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    padding-top: 15px;
}
.product-card {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 450px;
    position: relative;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.5s ease;
}