@import url(https://fonts.googleapis.com/css?family=Roboto:300,400);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);
figure.snip1390 {
  font-family: 'Roboto', Arial, sans-serif;
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 230px;
  max-width: 315px;
  width: 100%;
  color: #000000;
  text-align: center;
  font-size: 16px;
  background-color: #ffffff;
  padding: 30px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 150px;
  height: 450px;
  border-radius: 20px;
}
figure.snip1390 *,
figure.snip1390 *:before,
figure.snip1390 *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
figure.snip1390 figcaption {
  width: 100%;
}
figure.snip1390 h2,
figure.snip1390 h4,
figure.snip1390 blockquote {
  margin: 0;
}
figure.snip1390 h2,
figure.snip1390 h4 {
  font-weight: 300;
}
figure.snip1390 h2 {
  color: #ffffff;
}
figure.snip1390 h4 {
  color: #a6a6a6;
}
figure.snip1390 blockquote {
  font-size: 1em;
  padding: 45px 20px 40px 50px;
  margin-top: 30px;
  background-color: #ffffff;
  box-shadow: inset -1.4px -1.4px 2px rgba(0, 0, 0, 0.3);
  text-align: left;
  position: relative;
}
figure.snip1390 blockquote:before {
  font-family: 'FontAwesome';
  content: "\201C";
  position: absolute;
  font-size: 70px;
  opacity: 0.25;
  font-style: normal;
  top: 0px;
  left: 20px;
}
figure.snip1390 .profile {
  width: 100px;
  border-radius: 50%;
  display: inline-block;
  margin-bottom: 10px;
  margin-top: -50px;
}
.text {
    font-size: 50px;
    color: #e53637;
    margin-top: 0px;
}
.name {
    color: #000000;
    font-size: 18px;
    font-family: "Nunito Sans", sans-serif;
    letter-spacing: 1px;
    line-height: 1.5;
    width: 259px;
}
.yellow-star {
    color: #faaf00;
    font-size: 22px;
}
.vision {
    font-size: 23px;
    font-family: "Nunito Sans", sans-serif;
   color: #e53637;
   padding-top: 18px;
   margin-bottom: 30px;
}
.happy {
    color: #e53637;
    padding-top: 217px;
   margin-right: 207px;
   padding-left: 150px;
   font-family: "Nunito Sans", sans-serif;
}
.customer {
    color: #000000;
    margin-top: 5px;
   margin-right: 207px;
   padding-left: 150px;
   font-family: "Nunito Sans", sans-serif;
   font-weight: 600;
}